<input type="text" id="exampleInput" name="exampleInput" formControlName="name">
<i class="fa fa-check fa-xs editt" (click)=" updateuser()" ></i>
<form [formGroup]="userupdateForm">
      <table>
       
        <tbody>
            <tr>
                <td>İsim</td>
                <td>:</td>
  
                <td><input type="text" id="exampleInput" name="exampleInput" formControlName="name"></td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>:</td>
                <td> <input type="text" id="exampleInput" name="exampleInput" formControlName="email"></td>
            </tr>
            <tr>
                <td>Ülke</td>
                <td>:</td>
                <td>        <input type="text" id="exampleInput" name="exampleInput" formControlName="country"></td>
            </tr>
            <tr>
                <td>Şehir</td>
                <td>:</td>
                <td>        <input type="text" id="exampleInput" name="exampleInput" formControlName="city"></td>

        
        
            </tr>
            <tr>
                <td>Telefon</td>
                <td>:</td>
                <td>    <input type="text" id="exampleInput" name="exampleInput" formControlName="phone"></td>
            
            </tr>

            <tr>
                <td>Doğum Tarihi</td>
                <td>:</td>
                <td>      <input type="date" id="dateInput" formControlName="birthdate"></td>
          
          
            </tr>
        </tbody>
    </table>
    </form>