<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="contaner">
 
  <h6 mat-dialog-title class="dialog-title">
    Kişi Değerlendirme
    <mat-icon class="right-icon" (click)="onNoClick()">x</mat-icon>
  </h6>


  <div mat-dialog-content>
    <div class="profile">
      <img class="profile-pic" src="https://cdn.prod.website-files.com/639ff8596ae419fae300b099/641017314cc67fbb88c517a7_good-linkedin-profile-photo-right-expression-1000x1000.jpeg" alt="Profile Picture">
      <div class="profile-info">
        <p class="okso">Ad Soyad</p>
      <p>{{data.name}}</p>

      </div>
    </div>
    <ng-container *ngIf="visible===true">
    <div class="evaluation">
  
      <div class="table-responsive">
        <div class="datatable-container">
          
            <div class="filter-container">
        
            </div>
            <table>
              <thead>
                <tr>
           
                  <th>
                    <div class="header-content"> 
                     Soru
                    <button *ngIf="sortColumn === 'evaluatequestion'" [ngClass]="{ 'asc': sortOrder === 'asc', 'desc': sortOrder === 'desc' }" (click)="sort('evaluatequestion')">&#9660;</button>
                    <button *ngIf="sortColumn !== 'evaluatequestion'" (click)="sort('evaluatequestion')">&#9650;</button>
                    
                  </div>
                  </th>
                  <th>
                    <div class="header-content"> 
                      Eşleştir
            
           
                    </div>
           
                  </th>
             
                    <th>
      
                      <div class="header-content"> 
                        
                       Puan
                
              
                      </div >
                      </th>
                   
                
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of kilteruser">
                  <td>
                  <p style="font-size: 9px;">
                    {{ user.evaluatequestion }}
                    
                  </p>
                </td>
                  <td>
                    <input type="checkbox" name="match">
                  </td>
                  <td>
                    <input type="number" name="points" value="0" min="0" max="10" step="1" style="width: 30px; border: none; text-align: center;">
                  </td>
               
                </tr>
              </tbody>
            </table>
          </div>
    
    </div>
    </div>
    <div class="mar-dialog"> 
      <button class="custom-button" >Kaydet</button>
    </div>
    </ng-container>
    <ng-container *ngIf="visible===false">
    <div class="wrapper">
   
      <div class="controls">
        <div class="filters">
          <span class="filter" [class.active]="currentFilter === 'all'" (click)="filterTasks('all')">Hepsi</span>
          <span class="filter" [class.active]="currentFilter === 'pending'" (click)="filterTasks('pending')">Beklenen</span>
          <span class="filter" [class.active]="currentFilter === 'completed'" (click)="filterTasks('completed')">Tamamlandı</span>
        </div>
      </div>
      <ul class="task-box">
        <li *ngFor="let task of filteredTasks()" [class.completed]="task.status">

          {{ task.taskname }}
          <i *ngIf="task.status === 'F'" class="fas fa-check-circle status-icon" aria-hidden="true"></i>
          <i *ngIf="task.status !== 'F'" class="fas fa-hourglass-half status-icon" aria-hidden="true"></i>
          <span class="ellipsis-icon" [matMenuTriggerFor]="menu">...</span>
          <mat-menu #menu="matMenu">
            <button mat-menu-item >Görev Detay</button>
            <button mat-menu-item *ngIf="task.status === 'F'" (click)="degerlendir(task.taskid)">Değerlendir</button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </ng-container>
  </div>

      
</div>