<section class="report-dashboard">
    <h2 class="report-dashboard-title">Monthly Performance</h2>
    <div class="row">
      <div class="flex-container">
        <div class="report-dashboard-item">
          <div class="report-dashboard-label">New Joins</div>
          <div class="report-dashboard-number">80</div>
        </div>
        <!-- /.report-dashboard-item -->
        <div class="report-dashboard-item">
          <div class="report-dashboard-label">Cancelled Members</div>
          <div class="report-dashboard-number">16</div>
        </div>
        <!-- /.report-dashboard-item -->
        <div class="report-dashboard-item">
          <div class="report-dashboard-label">Expired Members</div>
          <div class="report-dashboard-number">6</div>
        </div>
        <!-- /.report-dashboard-item -->
        <div class="report-dashboard-item">
          <div class="report-dashboard-label">MTD Growth</div>
          <div class="report-dashboard-number">58</div>
        </div>
        <!-- /.report-dashboard-item -->
        <div class="report-dashboard-item">
          <div class="report-dashboard-label">YTD Members</div>
          <div class="report-dashboard-number">164</div>
        </div>
        <!-- /.report-dashboard-item -->
        <div class="report-dashboard-item">
          <div class="report-dashboard-label">Leads</div>
          <div class="report-dashboard-number">1,234</div>
        </div>
        <!-- /.report-dashboard-item -->
        <div class="report-dashboard-item">
          <div class="report-dashboard-label">Contacts</div>
          <div class="report-dashboard-number">820</div>
        </div>
        <!-- /.report-dashboard-item -->
        <div class="report-dashboard-item">
          <div class="report-dashboard-label">Appointments</div>
          <div class="report-dashboard-number">240</div>
        </div>
        <!-- /.report-dashboard-item -->
        <div class="report-dashboard-item">
          <div class="report-dashboard-label">Tours</div>
          <div class="report-dashboard-number">230</div>
        </div>
        <!-- /.report-dashboard-item -->
        <div class="report-dashboard-item">
          <div class="report-dashboard-label">Sales</div>
          <div class="report-dashboard-number">58</div>
        </div>
        <!-- /.report-dashboard-item -->
      </div>
      <!-- /.flex-container -->
    </div>
    <!-- /.row -->
  
    <div class="row">
      <div class="flex-container">
        <div class="report-dashboard-item">
          <div class="report-dashboard-label">Lead to Contact</div>
          <div class="report-dashboard-number">66<span class="percentage-unit">%</span></div>
        </div>
        <!-- /.report-dashboard-item -->
        <div class="report-dashboard-item">
          <div class="report-dashboard-label">Contact to Appointment</div>
          <div class="report-dashboard-number">29<span class="percentage-unit">%</span></div>
        </div>
        <!-- /.report-dashboard-item -->
        <div class="report-dashboard-item">
          <div class="report-dashboard-label">Appointment to Tour</div>
          <div class="report-dashboard-number">96<span class="percentage-unit">%</span></div>
        </div>
        <!-- /.report-dashboard-item -->
        <div class="report-dashboard-item">
          <div class="report-dashboard-label">Tour to Sale</div>
          <div class="report-dashboard-number">25<span class="percentage-unit">%</span></div>
        </div>
        <!-- /.report-dashboard-item -->
  
      </div>
      <!-- /.flex-container -->
    </div>
    <!-- /.row -->
  
    <div class="row">
      <div class="flex-container">
        <div class="report-dashboard-item">
          <div class="report-dashboard-label">Monthly Average Joining Fee</div>
          <div class="report-dashboard-number"><span class="dollar-unit">$</span>79</div>
        </div>
        <!-- /.report-dashboard-item -->
        <div class="report-dashboard-item">
          <div class="report-dashboard-label">Monthly Average Activation Kit Value</div>
          <div class="report-dashboard-number"><span class="dollar-unit">$</span>129</div>
        </div>
        <!-- /.report-dashboard-item -->
        <div class="report-dashboard-item">
          <div class="report-dashboard-label">Monthly Average Member Value</div>
          <div class="report-dashboard-number"><span class="dollar-unit">$</span>96</div>
        </div>
        <!-- /.report-dashboard-item -->
      </div>
      <!-- /.flex-container -->
    </div>
    <!-- /.row -->
  
  </section>
  <!-- /.report-dashboard -->
  
  <section class="eodr-section">
    <h2 class="eodr-section-title">Daily Numbers</h2>
    <ul class="accordion">
      <li>
        <a class="toggle accordion--toggle is-collapsed" href="#0">Sales hours available</a>
        <div class="inner">
          <div class="accordion--subitem">
            <a class="toggle accordion--toggle is-collapsed" href="#0">By Staff</a>
            <div class="inner">
              <table class="eodr-data-table">
                <thead>
                  <tr>
                    <th class="eodr-data-table-cell--non-numeric">Name</th>
                    <th>Actuals (15/08/2015)</th>
                    <th>Daily Target</th>
                    <th>Daily Target (%)</th>
                    <th>Actuals MTD</th>
                    <th>Monthly Target</th>
                    <th>Monthly Target (%)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="on-target">
                    <td class="eodr-data-table-cell--non-numeric">Amy Cashman</td>
                    <td>0</td>
                    <td>25</td>
                    <td>25</td>
                    <td>25</td>
                    <td>25</td>
                    <td>25</td>
                  </tr>
                  <tr>
                    <td class="eodr-data-table-cell--non-numeric">Amy Jackson</td>
                    <td>0</td>
                    <td>50</td>
                    <td>50</td>
                    <td>50</td>
                    <td>50</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td class="eodr-data-table-cell--non-numeric">April Williams</td>
                    <td>0</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.inner -->
          </div>
          <!-- /.accordion--subitem -->
        </div>
        <!-- /.inner -->
      </li>
      <li>
        <a class="toggle accordion--toggle is-collapsed" href="#0">New Leads</a>
        <div class="inner">
          <div class="accordion--subitem">
            <a class="toggle accordion--toggle is-collapsed" href="#0">By Staff</a>
            <div class="inner">
              <table class="eodr-data-table">
                <thead>
                  <tr>
                    <th class="eodr-data-table-cell--non-numeric">Name</th>
                    <th>Actuals for 15/08/2015</th>
                    <th>Daily Target</th>
                    <th>Daily Target (%)</th>
                    <th>Actuals MTD</th>
                    <th>Monthly Target</th>
                    <th>Monthly Target (%)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="eodr-data-table-cell--non-numeric">Amy Cashman</td>
                    <td>0</td>
                    <td>25</td>
                    <td>25</td>
                    <td>25</td>
                    <td>25</td>
                    <td>25</td>
                  </tr>
                  <tr>
                    <td class="eodr-data-table-cell--non-numeric">Amy Jackson</td>
                    <td>0</td>
                    <td>50</td>
                    <td>50</td>
                    <td>50</td>
                    <td>50</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td class="eodr-data-table-cell--non-numeric">April Williams</td>
                    <td>0</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.inner -->
          </div>
          <!-- /.accordion--subitem -->
          <div class="accordion--subitem">
            <a class="toggle accordion--toggle is-collapsed" href="#0">By Enquiry Source</a>
            <div class="inner">
              <table class="eodr-data-table">
                <thead>
                  <tr>
                    <th class="eodr-data-table-cell--non-numeric" style="width:15%;">Name</th>
                    <th>Actuals for 15/08/2015</th>
                    <th>Daily Target</th>
                    <th>Daily Target (%)</th>
                    <th>Actuals MTD</th>
                    <th>Monthly Target</th>
                    <th>Monthly Target (%)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="eodr-data-table-cell--non-numeric">Banner</td>
                    <td>0</td>
                    <td>25</td>
                    <td>25</td>
                    <td>25</td>
                    <td>25</td>
                    <td>25</td>
                  </tr>
                  <tr>
                    <td class="eodr-data-table-cell--non-numeric">Building</td>
                    <td>0</td>
                    <td>50</td>
                    <td>50</td>
                    <td>50</td>
                    <td>50</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td class="eodr-data-table-cell--non-numeric">Friend</td>
                    <td>0</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.inner -->
          </div>
          <!-- /.accordion--subitem -->
        </div>
        <!-- /.inner -->
      </li>
    </ul>
    <!-- /.accordion -->
  </section>
  <!-- /.eodr-section -->